* @AlehcksGit
/.github/ @AlehcksGit
/install*.ps1 @AlehcksGit
/uninstall*.ps1 @AlehcksGit
/install.sh @AlehcksGit
/uninstall.sh @AlehcksGit
/stack/bin/ @AlehcksGit
/openai/bin/ @AlehcksGit
/tools/ @AlehcksGit
